<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connectString"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=192.168.1.14;Initial Catalog=京津城际防灾系统2010;Persist Security Info=True;User ID=sa;pwd=290142;connect timeout=15" />
    <add name="connectString2"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=192.168.1.14;Initial Catalog=京津城际防灾历史数据;Persist Security Info=True;User ID=sa;pwd=290142;connect timeout=15" />
    <add name="connectString3"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=192.168.1.14;Initial Catalog=京津城际防灾系统;Persist Security Info=True;User ID=sa;pwd=290142;connect timeout=15" />
  </connectionStrings>
</configuration>